{% extends "home/base.html" %}
{% load static %}
{% block styling %}
    <link rel="stylesheet" type="text/css" href="{% static "account/login.css" %}">
{% endblock styling %}
{% block content %}
    <div class="all">
        <div class="card">
            <h1>Se connecter</h1>
            <form method="post"  role="form" action="/account/login/">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Se connecter">
            </form>
            <div class="links">
                <a href="{% url 'signup' %}" style="text-decoration:none;">Créer un compte</a>
            </div>
        </div>
    </div>
{% endblock content %}